@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.header-nav {
    background: #313131;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.header-nav-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
}


.header-nav-list {
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
    padding-left: 0;
    margin-bottom: 0;
}

.header-nav-item {
display: flex; 
align-items: center;
height: 100%;
margin-right: 35px;
}



.header-logo {
    margin-left: 28px;
}



.text-logo {
font-family: Open Sans, sans-serif;
font-weight: bold;
font-size: 22px;
line-height: 30px;
color: #FFFFFF;
padding-left: 27px;
}

.loupe {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 68px;
    background: #000000;
}

.header-nav-link {
    
    font-family: Open Sans, sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 30px;
    text-transform: uppercase;
    color: #FFFFFF;
}


    
    