@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    background-image: url(./img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 58px;
}

.logo {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    align-items: center;
    color: #FFFFFF;
}

.logo:hover {
    color: #3CB878;
    transition: 0.3s ease;
}

.header-div {
    display: flex;
}

.header-main-div {
    display: flex;
    justify-content: space-between;
    padding: 18px;
}

.header-icon {
    padding-right: 27px;
    background-size: cover;
}

#icons {
    fill: white
}

#icons:hover {
    fill: #236d47;
    transition: 0.2s ease;
}



.welcome-link {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 14px;
    align-items: center;
    color: #FFFFFF;
    padding-top: 5px;
}

.log-in-green-span:hover {
    color: #236d47;
    transition: 0.2s ease;
}


.form-div {
    width: 444px;
    height: 622px;
    margin: 54px 461px 74px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}

.register-form-container {
    display: flex;
    padding-top: 30px;
}

.top-register {
    width: 130px;
    display: flex;
    justify-content: space-between;
}

.h1-register {
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #434343;

}

.link-log-in {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    padding-right: 59px;
}

.link-log-in:hover {
    color: #01813F;
    text-decoration: underline;
    transition: 0.1s ease;
}

.empty {
    width: 18px;
height: 18px;
background: #3CB878;
}

.link-log-in-div {
    width: 317px;
    display: flex;
    justify-content: flex-end;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.fb {
    margin-right: 4px;
    background: #305DB8;
}

.google {
    background: #DF4A32;
}

.google-fb {
    width: 160px;
    height: 48px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.fb:hover {
    background: #022263;
}

.google:hover {
    background: #AB1F09;
}

.google-fb-div {
    display: flex;
    padding-left: 12px;
}


.rectangle {
    padding-left: 7px;
}

.google-fb-text {
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 30px;

}

.main-form-div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 26px;
}

.or {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    padding: 5px;

}

.input-username-div {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    position: relative;
}


.username:focus {
    border: 5px;
    border-color: white;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}



.username {
    width: 303px;
    height: 44px;
    padding-left: 19px;
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}

input[type="text"]::-webkit-input-placeholder {
    color: #BEBEBE;
}

input[type="text"]::-moz-placeholder {
    color: #BEBEBE;
}

input[type="email"]::-webkit-input-placeholder {
    color: #BEBEBE;
}

input[type="email"]::-moz-placeholder {
    color: #BEBEBE;
}

input[type="password"]::-webkit-input-placeholder {
    color: #BEBEBE;
}

input[type="password"]::-moz-placeholder {
    color: #BEBEBE;
}

.checkbox-text {
    font-family: Ubuntu, sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    padding-left: 21px;
}

.checkbox-span {
    color: #63c693;
}

.checkbox-span-1 {
    padding-left: 8px;
}

.checkbox-div {
    margin-top: 12px;
    margin-left: 60px;
}

.checkbox {
    margin-top: 12px;
    margin-left: 60px;
    display: inline;
    position: absolute;
    z-index: -1;
}

.checkbox:checked + label {
    position: relative;
    cursor: pointer;
}

.checkbox:not(:checked) + label {
    position: relative;
    cursor: pointer;
}

.checkbox:checked + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background: white;
    border: 1px solid #F2F2F2;
}

.checkbox:not(:checked) + label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background: white;
    border: 1px solid #F2F2F2;
}

.checkbox:checked + label::after {
    content: "";
    position: absolute;
    transition: all 0.2s ease;
    left: 3px;
    top: 4px;
    width: 10px;
    height: 5px;
    border-radius: 1px;
    border-left: 4px solid #63c693;
    border-bottom: 4px solid #63c693;
    transform: rotate(-45deg);
}

.checkbox:not(:checked) + label::after {
    opacity: 0;
}

.checkbox:checked + label::after {
    opacity: 1;
}


.submit {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.submit-input {
    width: 324px;
    height: 46px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: 1px solid transparent;
    font-family: Ubuntu, sans-serif;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
}

.submit-input:hover {
    background: #01813F;
    transition: 0.2s ease;
}

