@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
                                                                                                                                                                                                    .page-body {
                                                                                                                                                                                                        font-family: "Roboto", sans-serif;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    body {
                                                                                                                                                                                                        max-width: 1480px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .page-logo {
                                                                                                                                                                                                        font-family: Roboto, sans-serif;
                                                                                                                                                                                                        font-size: 80px;
                                                                                                                                                                                                        line-height: 94px;
                                                                                                                                                                                                        display: flex;
                                                                                                                                                                                                        align-items: flex-end;
                                                                                                                                                                                                        text-align: center;
                                                                                                                                                                                                        text-decoration: none;
                                                                                                                                                                                                        color: #000000;
                                                                                                                                                                                                        margin: 63px 1048px 40px 98px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .colortext {
                                                                                                                                                                                                        color: #4BCAFF
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    a {
                                                                                                                                                                                                        text-decoration: none;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .header-nav-link {
                                                                                                                                                                                                        font-family: Roboto, sans-serif;
                                                                                                                                                                                                        font-size: 24px;
                                                                                                                                                                                                        line-height: 28px;
                                                                                                                                                                                                        color: #FFFFFF;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .header-nav-list {
                                                                                                                                                                                                        display: flex;
                                                                                                                                                                                                        justify-content: center;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .header-nav {
                                                                                                                                                                                                        background-color: #35444F;
                                                                                                                                                                                                        margin: 40px 98px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .header-nav-item {
                                                                                                                                                                                                        display: inline-block;
                                                                                                                                                                                                        padding: 26px 32px;
                                                                                                                                                                                                        border-left: 1px solid white;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .border {
                                                                                                                                                                                                        border-right: 1px solid white;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .left-menu-link .header-nav-item-empty {
                                                                                                                                                                                                        padding-left: 130px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .left-menu {
                                                                                                                                                                                                        background: rgba(0, 0, 0, 0.0001);
                                                                                                                                                                                                        display: block;
                                                                                                                                                                                                        margin: 48px 0px 583px 100px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .left-menu-list {
                                                                                                                                                                                                        border: 1px solid #000000;
                                                                                                                                                                                                        width: 305px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .left-menu-link {
                                                                                                                                                                                                        font-family: Roboto, sans-serif;
                                                                                                                                                                                                        font-size: 27px;
                                                                                                                                                                                                        line-height: 27px;
                                                                                                                                                                                                        color: #485863;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .left-menu-item {
                                                                                                                                                                                                        padding: 26px 44px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .page-main {
                                                                                                                                                                                                        display: flex;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .main-paragraph {
                                                                                                                                                                                                        margin-bottom: 34px;
                                                                                                                                                                                                        margin-left: 52px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .main-img {
                                                                                                                                                                                                        border: 1px solid #000000;
                                                                                                                                                                                                        padding: 75px 280px;
                                                                                                                                                                                                        margin: 48px 99px 37px 52px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    p {
                                                                                                                                                                                                        font-family: Roboto, sans-serif;
                                                                                                                                                                                                        font-size: 18px;
                                                                                                                                                                                                        line-height: 24px;
                                                                                                                                                                                                        color: #2C2C2C;
                                                                                                                                                                                                        max-width: 885px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .page-footer {
                                                                                                                                                                                                        margin-bottom: 30px;
                                                                                                                                                                                                        border: 1px transparent;
                                                                                                                                                                                                        background: rgba(99, 105, 110, 0.48);
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .page-footer-list {
                                                                                                                                                                                                        display: flex;
                                                                                                                                                                                                        justify-content: center;
                                                                                                                                                                                                        padding: 30px 360px 30px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .page-footer-link {
                                                                                                                                                                                                        font-family: Roboto, sans-serif;
                                                                                                                                                                                                        font-size: 26px;
                                                                                                                                                                                                        line-height: 28px;
                                                                                                                                                                                                        color: #0C1927;
                                                                                                                                                                                                        white-space: nowrap;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .page-footer-copyright {
                                                                                                                                                                                                        font-family: Roboto, sans-serif;
                                                                                                                                                                                                        font-size: 24px;
                                                                                                                                                                                                        line-height: 24px;
                                                                                                                                                                                                        display: flex;
                                                                                                                                                                                                        color: #010101;
                                                                                                                                                                                                        margin-left: 135px;
                                                                                                                                                                                                        width: 190px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .page-footer-item {
                                                                                                                                                                                                        padding-right: 30px;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .header-nav-item:hover {
                                                                                                                                                                                                        background: #222F3A;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .left-menu-item:hover {
                                                                                                                                                                                                        background: #DBDBDB;
                                                                                                                                                                                                    }
                                                                                                                                                                                                    
                                                                                                                                                                                                    .page-footer-link:hover {
                                                                                                                                                                                                        color: rgb(30, 113, 116);
                                                                                                                                                                                                        text-decoration: underline;
                                                                                                                                                                                                    }