@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1030px;
    margin-top: 51px;
}


.logo {
   display: flex;
   align-items: center;
}

.page-body {
    background-size: 100% 100%;
    background-image:url(./img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo-text {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
}


.logo-text-1 {
    font-size: 29px;
    line-height: 29px;
}

.logo-text-2 {
    font-size: 18px;
    line-height: 18px;
}

.logo-img {
    padding-right: 8px;
}

.feedback a {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.feedback {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.mail {
    padding-bottom: 19px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-column-gap: 61px;
    grid-row-gap: 78px;
    justify-content: center;
    margin-top: 22px;
    
}

.main-tours-link-text {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


.descr {
    position: absolute;
    bottom: 6px;
    left: 0;
    background-color: #F26522;
    width: 304px;
    height: 55px;
    display: none;
    justify-content: space-between;
}


.main-tour-links {
    position: relative;
}

.main-tour-links:hover .descr {
display: flex;
}

.descr-link {
    font-family: Roboto;
    font-size: 10px;
    line-height: 10px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 16px;
    padding-top: 7px;
}

.descr-link-1 {
    font-family: Roboto;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    padding-left: 16px;
    padding-top: 7px;
}

.descr-link-2 {
    font-size: 14px;
    line-height: 14px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    justify-content: flex-end;
    padding-bottom: 12px;
    padding-right: 16px;
}

.page-footer {
    display: flex;
    justify-content: center;
    padding-top: 49px;
    padding-bottom: 15px;
}

.copyright {
    font-family: Roboto;
    font-size: 12px;
    line-height: 12px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}

.feedback a:hover {
    color: #F26522;
}

.main-tour-links h4:hover {
    color: #F26522;
}

.hover:hover {
    color: #F26522;
}

.logo-text:hover {
    color: #F26522;
}